.mainheading{
  text-align: center;
}

.mainwraper{
  border: 4px solid black;
  margin: 100px;
}

.devider{
  border-bottom: 1px solid grey;
  margin: 0 30px;
}

.subheading{
  text-align: center;
}

.separator {
  display: flex;
  align-items: center;
  text-align: center;
  margin: 0 30px;
}

.separator::before,
.separator::after {
  content: '';
  flex: 1;
  border-bottom: 1px solid #000;
}

.separator:not(:empty)::before {
  margin-right: .25em;
}

.separator:not(:empty)::after {
  margin-left: .25em;
}

.addpersondiv{
  text-align: center;
}

.p10{
  padding: 10px;
}

.m10{
  margin: 10px;
}

.ml5{
  margin-left: 5px;
}

.inpt{
  height: 30px;
}

.addbtn{
  height: 30px;
}

.recordcard{
  display: flex;
  border: 1px solid grey;
  min-height: 100px;
  margin: 30px;
  flex-direction: column;
}

.recheading{
  padding: 5px;
  border-bottom: 1px solid grey;
  height: 30px;
  /* width: 100%; */
  display: flex;
  justify-content: space-between;
}

.carcard{
  display: flex;
  border: 1px solid grey;
  /* height: 100px; */
  margin: 10px 30px;
  flex-direction: column;
}
.carheading{
  padding: 5px;
  border-bottom: 1px solid grey;
  height: 30px;
  width: 100%;
}

.m0{
  margin: 0;
}